img {
  width: 500px;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
}
.navBar li {
  position: relative;
  text-align: center;
  float: left;
  left: 710px;
  bottom: 30px;
}
.navBar a {
  float: none;
  display: block;
  padding: 25px 20px;
  font-size: 15px;
  color: black;
  text-align: center;
}

.navBar li a:hover {
  background-color: rgb(255, 213, 161);
}
footer {
  font-size: 10px;
}
#cameraMan {
  float: left;
}
